@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /*===ALL===*/
    --highlight-color: #cf3639;
    --first-color: #7d8471;
    --second-color: #4e4e4e;
    --text-color: #ffffff;
    --default-border-radius: 5px;
    --hover-background: #e0e0cb;
    
    /*===TASK PRIORITIES===*/
    --priority1: 192, 56, 59;
    --priority2: 226, 159, 55;
    --priority3: 141, 177, 78;

    /*===SMALL DEVICES===*/
    --small-font-size: 0.9rem;

    /*===HEADER===*/
    --header-background: #f5f5dc;
    --header-padding: 0.7rem;
    --header-transition: 0.5s ease;
}

body {
    display: flex;

    font-size: var(--desktop-font-size);
    font-family: 'Manrope', sans-serif;
    
}

/*====HEADER====*/
header,
.side-menu-icon,
.header-wrapper,
button {
    transition: var(--header-transition);
}

header,
.header-wrapper {
    width: 300px; /*in future change to 320px?*/
    min-height: 100vh;  
    position: fixed;
    z-index: 1;   
}

header.shrink-menu {
    width: 0;
}

header{ 
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
}

/*Chrome, Safari, Opera hidding scroll bar*/
header::-webkit-scrollbar {
    display: none;
}

header{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*===BURGER MENU===*/

.side-menu-icon {
    padding: var(--header-padding);
    border-radius: var(--default-border-radius);
    position: absolute;

    top: 15px;
    left: 230px;

    cursor: pointer;

    z-index: 2;
}

.side-menu-icon:hover {
    background-color: #f5f5dc3b;
}

i {
    cursor: pointer;
}

.side-menu-icon > i {
    color: var(--hover-background);
    font-size: 20px;
}

#burger-menu-input {
    display: block;
    position: absolute;
    opacity: 0;
}

input:checked ~ .header-wrapper {
    transform: translateX(-300px);
}

input:checked + label {
    left: 5px;
}

/*===LOGO-WRAPPER===*/
.header-wrapper {
    background-color: var(--header-background);
    font-size: var(--small-font-size);
    position: relative;
}

.h1-wrapper {
    width: 255px;
    padding: 1.2rem 1.4rem;
    z-index: 1;
    position: sticky;
    top: 0;
    color: var(--text-color);
    background-color: var(--first-color);
}

/*===NAV===*/
nav {
    padding: 1.2rem var(--header-padding);
    height: calc(100% - 525px);
}
.projects-list > li{
    padding: 1rem var(--header-padding);
}

nav > ul *,
nav > .projects-wrapper-list > div {
    padding: var(--header-padding);
}

/*===TASK-LIST===*/
.navigation-li > *,
.project-btn > i {
    pointer-events: none; /*Prevents icon to be listed in e.target click event*/
}

li,
.projects-wrapper-header {
    display: flex;
    align-items: center;
}

li {
    cursor: pointer;
    color: var(--second-color);
}

li:hover {
    background-color: var(--hover-background);
}

.navigation-li.active {
    background-color: var(--hover-background);
}

.navigation-li,
.navigation-li-proj {
    margin: 5px 0;
}

.delete-task-btn {
    color: var(--first-color);
    border-radius: var(--default-border-radius);
}

.project-btn-wrapper {
    display: flex;
    gap: 4px;
}

.project-btn-wrapper > button:hover {
    border: 1px solid #8d8d8d;
}

.delete-project-btn,
.edit-project-btn {
    color: var(--first-color);
    padding: 4px 10px;
    border: 1px solid transparent;
    width: 36px;
}

.navigation-li-proj {
    display: flex;
    justify-content: space-between;
    
}

.icon-wrapper {
    height: 36px;
    width: 35px;

    padding: 2px;
    margin-right: 15px;

    background-color: var(--first-color);
    border-radius: 5px;

    text-align: center;
}

.icon-wrapper > i {
    color: #242424bf;
}

.projects-wrapper-header {
    justify-content: space-between;
}

.projects-wrapper-header > h2 {
    color: var(--second-color);
}

.add-task-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 1.2rem var(--header-padding);
}

.visible-part,
.task-wrapper,
.task-wrapper-buttons {
    display: flex;
    justify-content: space-between;
}

.task-wrapper-buttons {
    flex-direction: column;
}

.task{
    background-color: var(--first-color);
    padding: 1.2rem 2rem;
    border-radius: 15px;
    margin-bottom: 15px;
}

.projects-list > li {
    border-bottom: 3px solid transparent;
}

.projects-list > li:hover {
    border-bottom: 3px solid var(--first-color);
}

.navigation-li-proj.active {
    background-color: var(--hover-background);
    border-bottom: 3px solid var(--first-color);
}

.task-wrapper{
    flex-direction: column;
    gap: 10px;
}

.hidden-part {
    font-size: 0.8rem;
    margin-top: 10px;

    display:grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
    
}

.hidden-part-wrapper {
    overflow: hidden;
}

.hidden-part-wrapper > p {
    margin-bottom: 10px;
}

.hidden-part.active {
    grid-template-rows: 1fr;
}

.hidden-part > div > form,
.hidden-part > div > form > ul > li:hover {
    background: transparent;
}

.hidden-part > div > form > ul > li {
    color: var(--text-color);
}

.fa-rectangle-xmark,
.fa-square-pen,
.fa-square-check {
    color: var(--hover-background);
    border-radius: var(--default-border-radius);
    transition: var(--header-transition);
}

.task-wrapper-buttons > button > .fa-rectangle-xmark {
    font-size: 1.3rem;
}

.task-wrapper-buttons > button > .fa-square-check{
    font-size: 1.5rem;
}

.task-wrapper-buttons> button > .fa-square-pen {
    font-size: 1.5rem;
}

.project-btn {
    width: 21.01px;
    margin-left: 10px;
}

.projects-list-wrapper,
.projects-wrapper-header {
    padding: 0 var(--header-padding);
}

.show-projects-list {
    color: var(--second-color);
    margin-left: 5px;
}

.projects-list {
    transition: var(--header-transition);
}

.projects-list.hidden {
    animation: hideList 500ms both;
}

@keyframes hideList {
  100% {
        opacity: 0;
        transform: translateY(-50px);
        display: none;
    }
}

.expand-btn-wrapper {
    width: 100%;
    text-align: center;
}

.expand-btn-wrapper > button {
    color: var(--header-background);
    font-style: italic;
}
/*===HEADER BUTTONS===*/

.add-task-btn,
.add-project-btn {
    box-shadow: 0px 0px 0 6px #cf363938;
    background-color: var(--highlight-color);
}

.add-task-btn {
    max-width: 35%;
    padding: 10px;
    font-size: var(--small-font-size);
}

.add-project-btn {
    height: 30px;
    width: 30px;

    padding: 0;
    margin-right: 30px;
}

button {
    color: var(--text-color);
    font-weight: 900;
   
    border-radius: var(--default-border-radius);
}

button:hover {
    box-shadow: none;
}

/*===MAIN===*/
.wrapper {
    width: auto;
    flex-grow: 1;
    font-size: var(--small-font-size);
    background-color: #65581f80;
    color: var(--text-color);
    height: 100vh;
    overflow-y: auto;
}

main {
    width: calc(50% + 8rem);
    margin: 9vh auto 6vh auto;
    max-width: 850px;
    overflow: auto;
}

main > div {
    margin: 25px 0;
}

.section-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    padding-left: 5px;
}

.section-wrapper::after {
    content:'';
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--second-color);
}

.section-wrapper > span {
    color: var(--second-color);
    background-color: var(--hover-background);
    padding: 10px;
    border-radius: var(--default-border-radius);
}

.section-header {
    font-size: 2em; /*Add to variables?*/
}


/*===FORM ADD TASK===*/
    .form-wrapper {
        display:grid;
        width: 95%;
        grid-template-rows: 0fr;
        transition: grid-template-rows 500ms;
        border: 1px solid transparent;
    }

    form {
        background-color: #cf363938;
        position: relative;
        overflow: hidden;
    }

    .new-task-form > label {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 20px;
        color: var(--text-color);
        font-weight: 800;
        width: 85%;
    }

    .new-task-form > .subtask-group {

        color: var(--second-color);
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        margin: 10px 20px 10px 20px;
    }

    .subtask {
        display: flex;
        justify-content: space-between;
        
        font-size: 0.8rem;
        padding: var(--header-padding);
        
        border-radius: var(--default-border-radius);
        
        width: calc(100% - 24px);
        background-color: lightblue;
    }

    .subtask > p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px 0;
    }
    
    form > label:last-child {
        margin-bottom: 20px;
    }

    form > label > input[type="text"],
    form > label > textarea,
    input[type="date"],
    select {
        background-color: var(--text-color);
       
        margin-top: 5px;
        border-radius: var(--default-border-radius);
        padding: 5px;
        border: 1px solid transparent;
        transition: var(--header-transition);
    }

    .new-task-form > label > input:focus[type="text"],
    input:focus[type="date"],
    textarea:focus {
        border: 1px solid var(--highlight-color);
        outline: none;
    }

    input[type="date"] {
        color: var(--second-color);
        font-weight: 500;
    }

    input[type="checkbox"] {
        accent-color: var(--first-color);
    }

    .form-priority-inputs {
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        margin-top: 5px;
    }

    .form-priority-inputs > label {
        text-align: center;
        padding: 8px;
        border-radius: var(--default-border-radius);
        cursor: pointer;
        opacity: 0.5;
        flex-grow: 1;
        transition: var(--header-transition);
    }

    option {
        border-radius: var(--default-border-radius);
    }

    .form-priority-inputs > input:nth-child(1) + label {
       background-color: rgba(var(--priority1));
    }

    .form-priority-inputs > input:nth-child(3) + label {
        background-color: rgba(var(--priority2));
     }

     .form-priority-inputs > input:nth-child(5) + label {
        background-color: rgba(var(--priority3));
     }
     
     /*setting priority after user input*/
     .fa-circle.red{
        color: rgba(var(--priority1));
     }

     .fa-circle.yellow{
        color: rgba(var(--priority2));
     }

     .fa-circle.green{
        color: rgba(var(--priority3));
     }

    .form-priority-inputs > input {
        display: none;
        text-align: center;
    }

    input[type="radio"]:checked + label {
        opacity: 1;
        flex-grow: 2;
    }

    .subtask-label {
        position: relative;
    }

    .subtask-label > textarea {
        padding-right: 25px;
    }

    .subtask-add-btn {
        position: absolute;
        top: 23px;
        left: 89%;
        color: blue;
        /* padding: 14px 7px; */
        
        height: 35px;
        width: 20px;
        border-radius: var(--default-border-radius);
    }

    .subtask-add-btn:hover {
        background-color: lightblue;
    }

    textarea {
        overflow: hidden;
    }

    .create-task-btn,
    .add-project-submit {
        width: 100%;
        background-color: var(--highlight-color);
        margin-top: 20px;
        border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
        padding: 10px 0;
    }
    
    .form-wrapper.expand-form {
        grid-template-rows: 1fr;
        border: 1px solid var(--highlight-color);
        border-radius: var(--default-border-radius);
    }

    .update-wrapper {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
    }

    .update-wrapper > button {
        background-color: lightblue;
        padding: 10px 35px;
        background-color: var(--highlight-color);
    }

    .hidden {
        display: none;
    }
    /*===dialog ADD PROJECT===*/

    dialog {
        width: 260px;
        border: 1px solid var(--highlight-color);
        border-radius: var(--default-border-radius);
    }

    .add-project-form > div {
        position: relative;
        width: 100%;
        
    }

    .add-project-input {
        width: 97%;
        height: 100%;
        background-color: var(--text-color);
        border-radius: 0px;
        padding-left: 7px;
        height: 100px;
        font-size: 20px;
        border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
    }

    .add-project-form {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .add-project-form > .add-project-submit {
        margin: 0;
    }

    .close-modal {
        position: absolute;
        top:3px;
        left: 92%;
        color: var(--highlight-color);
        z-index: 99;
        padding: 5px;
    }
    @media (min-width: 650px){
        header {
            position: static;  
        }
    }
/**
1) Add checklist when clicking on task
2) Add number of tasks next to li for each
3) Взять еще Второй шрифт?
https://fontawesome.com/search?p=2&o=r&m=free
https://www.notion.so/Getting-Started-766bbf7f76854e6f8d717b4c801a87fc
https://coolors.co/palettes/popular/#7d8471
https://www.youtube.com/watch?v=I6MKwkJcn7I
https://www.youtube.com/watch?v=Nh-aFPbdnWo
https://app.todoist.com/app/today

/*Глянуть
https://www.youtube.com/watch?v=P80sM7ausCA*/

/*Сделать чтобы сбоку от задачи отображалась дата тип Thu
                                                      30
                                                      November*/

/*https://app.any.do/tasks/next-seven-days?d=anydo%3A%2F%2Fanydo%3Faction%3Dtasktab


/*USE DATE PICKER TO STYLE CALENDAR? I DONT LIKE THAT YOU SHOULD CLICK OTHER BUTTON TO CHOOSE DATE*/

/*Show more change to show-less...*/
/*Set one font size and font boldness for each input in task form*/
/*Посмотреть как делают всплывающие тултипы удалить/редактировать в остальных проектах*/
/*Project form can't be empty - project name i mean*/
/*You can't delete Default project*/