@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /*===ALL===*/
    --highlight-color: #cf3639;
    --first-color: #7d8471;
    --second-color: #4e4e4e;
    --text-color: #ffffff;
    --default-border-radius: 5px;
    --hover-background: #e0e0cb;
    
    /*===TASK PRIORITIES===*/
    --priority1: 192, 56, 59;
    --priority2: 226, 159, 55;
    --priority3: 141, 177, 78;

    /*===SMALL DEVICES===*/
    --small-font-size: 0.9rem;

    /*===HEADER===*/
    --header-background: #f5f5dc;
    --header-padding: 0.7rem;
    --header-transition: 0.5s ease;
}

body {
    display: flex;
   
    
    font-size: var(--desktop-font-size);
    font-family: 'Manrope', sans-serif;
}

/*====HEADER====*/
header,
.side-menu-icon,
.header-wrapper,
button {
    transition: var(--header-transition);
}

header,
.header-wrapper {
    width: 300px; /*in future change to 320px?*/
    min-height: 100vh;     
}

header.shrink-menu {
    width: 0;
}

/*===BURGER MENU===*/
.side-menu-icon {
    padding: var(--header-padding);
    border-radius: var(--default-border-radius);
    position: absolute;

    top: 15px;
    left: 230px;

    cursor: pointer;

    z-index: 2;
}

.side-menu-icon:hover {
    background-color: #f5f5dc3b;
}

i {
    cursor: pointer;
}

.side-menu-icon > i {
    color: var(--hover-background);
    font-size: 20px;
}

#burger-menu-input {
    display: block;
    position: absolute;
    opacity: 0;
}

input:checked ~ .header-wrapper {
    transform: translateX(-300px);
}

input:checked + label {
    left: 50px;
}

/*===LOGO-WRAPPER===*/

.header-wrapper {
    background-color: var(--header-background);
    height: auto;
    font-size: var(--small-font-size);
}

.h1-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.2rem 1.4rem;

    color: var(--text-color);
    background-color: var(--first-color);
}

/*===NAV===*/

nav,
.projects-list > li{
    padding: 1.2rem var(--header-padding);
}

nav > ul *,
nav > .projects-wrapper-list > div {
    padding: var(--header-padding);
}

/*===TASK-LIST===*/

li,
.projects-wrapper-header {
    display: flex;
    align-items: center;
}

li {
    cursor: pointer;
    color: var(--second-color);
}

li:hover {
    background-color: var(--hover-background);
}

.icon-wrapper {
    height: 36px;
    width: 34px;

    padding: 2px;
    margin-right: 15px;

    background-color: var(--first-color);
    border-radius: 5px;

    text-align: center;
}

.icon-wrapper > i {
    color: #242424bf;
}

.projects-wrapper-header {
    justify-content: space-between;
}

.projects-wrapper-header > h2 {
    color: var(--second-color);
}

.add-task-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 1.2rem var(--header-padding);
}

.task,
.task-wrapper {
    display: flex;
    justify-content: space-between;
}

.task{
    background-color: var(--first-color);
    padding: 1.5rem 2.5rem;
    border-radius: 15px;
}

.projects-list > li {
    border-bottom: 3px solid transparent;
}

.projects-list > li:hover {
    border-bottom: 3px solid var(--first-color);
}

.task-wrapper{
    flex-direction: column;
    gap: 10px;
}

.fa-rectangle-xmark,
.fa-square-pen {
    color: var(--hover-background);
    border-radius: var(--default-border-radius);
    transition: var(--header-transition);
    margin-left: 10px;
}

.fa-rectangle-xmark:hover,
.fa-square-pen:hover {
   transform: scale(110%);
}


.task-wrapper> button > .fa-rectangle-xmark {
    font-size: 1.7rem;
}

.task-wrapper> button > .fa-square-pen {
    font-size: 1.8rem;
}

.projects-list-wrapper,
.projects-wrapper-header {
    padding: 0 var(--header-padding);
}

/*===HEADER BUTTONS===*/

.add-task-btn,
.add-project-btn {
    box-shadow: 0px 0px 0 6px #cf363938;
    background-color: var(--highlight-color);
}

.add-task-btn {
    max-width: 35%;
    padding: 10px;
    font-size: var(--small-font-size);
}

.add-project-btn {
    height: 30px;
    width: 30px;

    padding: 0;
    margin-right: 30px;
}

button {
    color: var(--text-color);
    font-weight: 900;
   
    border-radius: var(--default-border-radius);
}

button:hover {
    box-shadow: none;
}

/*===MAIN===*/
.wrapper {
    width: 100%;
    font-size: var(--small-font-size);
    background-color: #65581f80;
    color: var(--text-color);
}

main {
    width: calc(50% + 8rem);
    margin: 10vh auto 10vh auto;
    max-width: 850px;
}

main > div {
    margin: 25px 0;
}

.section-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.section-wrapper::after {
    content:'';
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--second-color);
}

.section-wrapper > span {
    color: var(--second-color);
    background-color: var(--hover-background);
    padding: 10px;
    border-radius: var(--default-border-radius);
}

.section-header {
    font-size: 2em; /*Add to variables?*/
}


/*===FORM ADD TASK===*/
    .form-wrapper {
        display:grid;
        width: 95%;
        grid-template-rows: 0fr;
        transition: grid-template-rows 500ms;
        border: 1px solid transparent;
    }

    form {
        background-color: #cf363938;
        position: relative;
        overflow: hidden;
    }

    form > label {
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 20px;
        color: var(--text-color);
        font-weight: 800;
        width: 85%;
    }
    
    form > label:last-child {
        margin-bottom: 20px;
    }

    form > label > input[type="text"],
    form > label > textarea,
    input[type="date"] {
        background-color: var(--text-color);
       
        margin-top: 5px;
        border-radius: var(--default-border-radius);
        padding: 5px;
        border: 1px solid transparent;
        transition: var(--header-transition);
    }

    input:focus[type="text"],
    input:focus[type="date"],
    textarea:focus {
        border: 1px solid var(--highlight-color);
        outline: none;
    }

    input[type="date"] {
        color: var(--second-color);
        font-weight: 500;
    }

    .form-priority-inputs {
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        margin-top: 5px;
    }

    .form-priority-inputs > label {
        text-align: center;
        padding: 8px;
        border-radius: var(--default-border-radius);
        cursor: pointer;
        opacity: 0.5;
        flex-grow: 1;
        transition: var(--header-transition);
    }

    .form-priority-inputs > input:nth-child(1) + label {
       background-color: rgba(var(--priority1));
    }

    .form-priority-inputs > input:nth-child(3) + label {
        background-color: rgba(var(--priority2));
     }

     .form-priority-inputs > input:nth-child(5) + label {
        background-color: rgba(var(--priority3));
     }

    .form-priority-inputs > input {
        display: none;
        text-align: center;
    }

    input[type="radio"]:checked + label {
        opacity: 1;
        flex-grow: 2;
    }

    .subtask-label {
        position: relative;
    }

    .subtask-add-btn {
        position: absolute;
        top: 20px;
        left: 89%;
        color: blue;
        padding: 14px 7px;
        border-radius: var(--default-border-radius);
    }

    .subtask-add-btn:hover {
        background-color: lightblue;
    }

    textarea {
        overflow: hidden;
    }

    .create-task-btn {
        width: 100%;
        background-color: var(--highlight-color);
        margin-top: 20px;
        border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
        padding: 10px 0;
    }

    .form-wrapper.expand-form {
        grid-template-rows: 1fr;
        border: 1px solid var(--highlight-color);
        border-radius: var(--default-border-radius);
    }

    @keyframes expandForm {
        from {
            height: 0%;
            display: none;
            
        } to {
            height: 100%;
            display: block;
        }
    }

    /*===FORM ADD PROJECT===*/

/**
1) Add checklist when clicking on task
2) Add number of tasks next to li for each
3) Взять еще Второй шрифт?
https://fontawesome.com/search?p=2&o=r&m=free
https://www.notion.so/Getting-Started-766bbf7f76854e6f8d717b4c801a87fc
https://coolors.co/palettes/popular/#7d8471
https://www.youtube.com/watch?v=I6MKwkJcn7I
https://www.youtube.com/watch?v=Nh-aFPbdnWo
https://app.todoist.com/app/today

MOBILE FIRST PLEAAAAAAAAAAASE*/
/*z-INDEX On slide-menu*/
/*Глянуть
https://www.youtube.com/watch?v=P80sM7ausCA*/

/*Сделать чтобы сбоку от задачи отображалась дата тип Thu
                                                      30
                                                      November*/

/*Add status mark and mark selection*/

/*https://app.any.do/tasks/next-seven-days?d=anydo%3A%2F%2Fanydo%3Faction%3Dtasktab
https://ux.pub/dexa/polnoie-rukovodstvo-po-mietiematichieskoi-css-funktsii-calc-s-primierami-1o4k*/

/*Change paddin on header, align all*/

/*FORM label should also hav >  sign to expand inputs*/
/*USE DATE PICKER TO STYLE CALENDAR? I DONT LIKE THAT YOU SHOULD CLICK OTHER BUTTON TO CHOOSE DATE*/

/*Still check how to make outline text 2024*/
/*POSSIBLE TO DO: center add subtask btn in textarea*/